name: Build ESP32-H2 RainMaker Device

on:
  push:
    branches: [ main ]
    paths:
      - "examples/PlantWatering/**"
      - ".github/workflows/build.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y git wget flex bison gperf python3 python3-pip

    - name: Clone ESP-IDF
      run: |
        git clone --recursive https://github.com/espressif/esp-idf.git
        cd esp-idf
        git checkout release/v5.2
        ./install.sh

    - name: Export IDF
      run: |
        . ./esp-idf/export.sh
      working-directory: esp-idf

    - name: Build PlantWatering
      run: |
        . ./esp-idf/export.sh
        idf.py --project-dir ./examples/PlantWatering set-target esp32h2
        idf.py --project-dir ./examples/PlantWatering build
