name: Build PlantWatering (ESP32-H2)

on:
  workflow_dispatch:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Clone ESP-IDF (v5.2)
        run: |
          git clone --recursive https://github.com/espressif/esp-idf.git esp-idf
          cd esp-idf
          git checkout release/v5.2
          ./install.sh

      - name: Export ESP-IDF
        run: |
          source esp-idf/export.sh

      - name: Build PlantWatering
        run: |
          source esp-idf/export.sh
          idf.py --project-dir examples/PlantWatering set-target esp32h2
          idf.py --project-dir examples/PlantWatering build
